body {
    background: linear-gradient(180deg, #8692de 10%, rgba(255, 219, 0, 0) 70%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 300px;
    overflow: auto;
}

.containerUp{
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 900px;
}

.login-form h1 {
    text-align: center;
    margin-bottom: 10px;
}

.input-group {
    margin-bottom: 10px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.input-group input:focus {
    border-color: #007bff;
}

button {
   display: flex;
    justify-self: center;
    align-items: center;
    padding: 10px;
    background-color: #a8b0ff;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #8692de;
    color: black
}

.signup-link {
    text-align: center;
    margin-top: 10px;
}

.signup-link a {
    color: #007bff;
    text-decoration: none;
}